
// Color system

$gray-600: #2d2d2d;
$black:    #1f1f1f;
$red:     #e23400;
$white:   #fff;

$primary:       $red;
$dark: $black;

// Options

$enable-rounded:            false;

// Body

$body-bg:                   $black;
$body-color:                $white;